@charset "utf-8";
/*
 * feeeeed.css
 * -*- Encoding: utf8n -*-
 */

fieldset {
  margin: 3px 0 10px 0;
  border: 1px solid #ccc;
  padding: 5px;
}
legend {
  margin: 0 0 0 10px;
}

/*
table.f5d_t1 {
  width: 100%;
  border-collapse: collapse;
}

.f5d_t1 td {
  padding: 2px;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
}




.infield {
  padding: 5px;
}

.msg {
  background: #fdd;
  padding: 5px;
}

#link_uri {
  width: 60%;
}
#link_string {
  width: 20%;
}
#link_image {
  width: 40%;
}
#link_cssClass {
  width: 20%;
}

#home_string {
  width: 20%;
}
#home_image {
  width: 60%;
}

#contents_html2 {
  width: 47%;
  float: left;
}
#contents_html2:after {
  content: "";
  display: block;
  clear: both;
}

#menu_html2 {
  width: 47%;
  float: left;
}
#menu_html2:after {
  content: "";
  display: block;
  clear: both;
}

#contents_html {
  width: 100%;
  float: left;
  height: 320px;
  overflow-y: scroll;
}

#menu_html {
  width: 100%;
  float: left;
  height: 320px;
  overflow-y:scroll;
}

#f5d_ctrl {
  clear: both;
}
*/

